<!DOCTYPE html>
<html>
	<head>
		<style type="text/css">
			html {background-color:black;}
			table { width:100%; }

			td { padding-left:35px;
				 
				 color:white;}

			#contents { font-size:500%;
						font-weight:200;
						letter-spacing:0.005em; }
		</style>
	</head>
	<body>
		<table border="0" >
			<tr>
				<td id="contents"><%= contents %></td>
			</tr>
		</table>
	</body>
</html>